@model TaskManagementSystem.Models.ForgotPassEmail
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}


<div class="form-container">
    <h2 class="form-header">Send Mail to Reset Password</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="inputs-container">
            <div class="input-container">
                @Html.LabelFor(model => model.Email, new { @class = "" })
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="summary-container">
                @Html.ValidationSummary(true, "", new { @class = "" })
            </div>
            <input class="submit-btn" type="submit" value="Send mail" />
        </div>
    }
</div>


